// paint color
$offwhite-paint: #f5f1ef;
$dark-red: #c62b2f;
$mellow-yellow: #fedf7b;
$sea-blue: #345d93;
$black: #000000;

// border
$b-4: 0.3em solid black;
$b-5: 0.4em solid black;
$b-6: 0.5em solid black;

$painting-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.7) inset,
  4px 4px 13px 0px rgba(0, 0, 0, 1);
